<h1>Contact list</h1>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>E-mail</th>
      <th>message</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |contact|}}
      <tr>
        <td>{{contact.email}}</td>
        <td>{{contact.message}}</td>
        <td><button class="btn btn-danger btn-xs" {{action "deleteContact" contact}}>削除</button></td>
      </tr>
    {{/each}}
  </tbody>
</table>
